@font-face {
    font-family: "Rotunda";
    src: url("fonts/3A-Rotunda-Light.otf");
}

@font-face {
    font-family: "Tiempos";
    src: url("fonts/TiemposHeadline-Medium.otf");
}

body {
    margin: 0;
    background-color: #c3c3c3;
    height: 100vh;
}

.FlexboxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    min-height: 24em;
}

.CardContainer {
    background-color: #EEF7F3;
    width: 100%;
    flex: none;
    max-width: 420px;
}

.Heading {
    font-family: Tiempos;
    text-align: center;
    color: #033732;
    font-size: 24px;
    font-weight: normal;
}

.Link {
    text-decoration: none;
    font-family: Rotunda;
    display: block;
    text-align: center;
    color: #033732;
    font-size: 14px;
    padding: 3px 0;
}

.WebLink {
    text-decoration: underline;
    text-decoration-color: #FF6657;
}

.Logo {
    width: 45%;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}

.ImageContainer {
    display: flex;
    margin-bottom: -5px;
}


.ImageColumnLogo {
    margin-left: -65px;
}

.ImageColumnJenny {
    margin-left: 20px;
}

.Jenny {
    width: 50px;
}